@keyframes slide-in {
  from {
    filter: blur(4);
    opacity: 0;
    transform: scaleY(0);
    transform: translate(0px, 200px);
  }
  to {
    filter: blur(0);
    opacity: 1;
    transform: scaleY(1);
    transform: translate(0px, 0px);
  }
}

.chat-container-in-side-menu {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  height: 40px;
}

.chat {
  width: 230px;
  height: 400px;
  max-height: 95vh;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.usernameContainer {
  width: 220px;
  align-self: flex-start;
  font-weight: bold;
  background: rgba(128, 128, 128, 0.75);
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  margin-top: 2px;
  margin-left: 2px;
}

.roomTitle {
  font-size: 12;
  color: white;
}

.chatMessage {
  height: 320px;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 225px;
  margin: 0 auto;
  overflow-y: auto;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.65);
}

.message {
  margin-left: 0px;
  margin-right: auto;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.messageInnerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.messageRight {
  margin-left: auto;
  margin-right: 0px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.messageInnerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sender {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.send {
  display: flex;
  flex-grow: 5;
  border-color: #99a799;
  background-color: white;
  padding-left: 5px;
  border-radius: 7px;
}

.sendButton {
  background-color: rgb(70, 70, 70);
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.sendButton:disabled {
  background-color: lightgrey;
}

.timestamp {
  float: right;
  font-size: 7px;
  padding-top: 6px;
}

.onlineStatus {
  height: 320px;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 225px;
  margin: 0 auto;
  overflow-y: auto;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.5);
}

.viewModeInChat {
  position: relative;
  margin: 0px;
  margin-left: 5px;
  background-color: lightgrey;
}

.viewModeInChat .viewModeChatTooltip {
  visibility: hidden;
  width: 165px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -135px;
}

.viewModeInChat:hover .viewModeChatTooltip {
  visibility: visible;
}

.viewModeInChat .viewModeUsersTooltip {
  visibility: hidden;
  width: 135px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -105px;
}

.viewModeInChat:hover .viewModeUsersTooltip {
  visibility: visible;
}

.friendList {
  display: flex;
  flex-direction: column;
  margin: 5px;
  background: lightgrey;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.friendListTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.online-radio {
  color: limegreen;
  font-size: 8px;
  align-self: "center";
  position: relative;
}

.online-radio:hover {
  font-size: 12px;
  color: lime;
}

.offline-radio {
  color: grey;
  font-size: 8px;
  align-self: "center";
  position: relative;
}

.offline-radio:hover {
  font-size: 12px;
  color: red;
}

.online-radio .online-tooltip {
  visibility: hidden;
  width: 45px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -35px;
}

.online-radio:hover .online-tooltip {
  visibility: visible;
}

.offline-radio .offline-tooltip {
  visibility: hidden;
  width: 45px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -35px;
}

.offline-radio:hover .offline-tooltip {
  visibility: visible;
}

.name-link-in-chat {
  transition: transform 0.5s;
  text-decoration: none;
  color: rgb(70, 70, 70);
}

.name-link-in-chat:hover {
  text-decoration: underline;
  color: violet;
  transform: translateY(-5px);
}
