textarea {
  max-width: 800px;
}

button {
  border-radius: 5px;
  border-style: outset;
  margin: 5px;
}

button:hover {
  box-shadow: 0 2px gray;
  transform: translateY(-1px);
}
button:active {
  background-color: white;
  box-shadow: 0 2px gray;
  transform: translateY(1px);
}

.main-container {
  grid-area: main;
  background: grey;
  max-width: 1100px;
  margin: 0 auto;
}

.main-compose {
  border-radius: 10px;
  background-color: lightgrey;
  margin: 15px;
  padding: 5px;
}

.compose-title {
  text-align: center;
}

.yes-or-no {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.compose-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 40px;
}

.compose-form {
  text-align: center;
}

#review-writing-box {
  width: 60vw;
}
