@keyframes phaseIn {
  from {
    filter: blur(4);
    opacity: 0;
    transform: scaleY(0);
    filter: blur(10);
  }
  to {
    filter: blur(0);
    opacity: 1;
    transform: scaleY(1);
    filter: blur(0);
  }
}

.single-review-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: auto;
  padding: 5px;
  position: relative;
  max-width: 900px;
  background: lightgrey;
  animation: phaseIn 1.2s ease-in-out;
}

.single-review-content {
  margin: 5px;
  overflow: auto;
  position: relative;
}

.review-title-in-review {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(50, 50, 50);
  font-size: 1.4rem;
  align-self: flex-start;
  max-width: 76vw;
}

.slug-name {
  float: left;
  font-size: 0.9em;
}

.designer-name {
  float: right;
  font-size: 0.9em;
}

.single-review-img {
  float: right;
  max-width: 60vw;
  max-height: 40vh;
  margin: 10px;
  margin-right: 2px;
  border-radius: 5px;
}

.author {
  float: left;
  font-size: 0.9em;
}

.data-stamp {
  font-size: 0.8em;
}

.edit-review-button {
  margin-left: 10px;
  position: relative;
}

.edit-review-button .editTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 110px;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
}

.edit-review-button:hover .editTooltipText {
  visibility: visible;
}

.delete-review-button {
  margin-left: 10px;
  position: relative;
}

.delete-review-button .deleteTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
}

.delete-review-button:hover .deleteTooltipText {
  visibility: visible;
}

.comments-button {
  float: left;
  position: relative;
}

.comments-button .commentsTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 130px;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
}

.comments-button:hover .commentsTooltipText {
  visibility: visible;
}

.kudos-button {
  float: right;
  position: relative;
}

.kudos-button .kudosTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -125px;
}

.kudos-button:hover:enabled .kudosTooltipText {
  visibility: visible;
}

.kudos-button .kudosDisabledTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-left: -175px;
}

.kudos-button:hover:disabled .kudosDisabledTooltipText {
  visibility: visible;
}

.likes-button {
  float: right;
  position: relative;
}

.likes-button .likesTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 180px;
  bottom: 100%;
  left: 50%;
  margin-left: -155px;
}

.likes-button:hover:enabled .likesTooltipText {
  visibility: visible;
}

.likes-button .likesDisabledTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 220px;
  bottom: 100%;
  left: 50%;
  margin-left: -195px;
}

.likes-button:hover:disabled .likesDisabledTooltipText {
  visibility: visible;
}

.add-comment-button {
  margin: 5px 10px;
  font-size: small;
  float: left;
  position: relative;
}

.add-comment-button .commentsTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 130px;
  bottom: 100%;
  left: 50%;
  margin-left: -45px;
}

.add-comment-button:hover .commentsTooltipText {
  visibility: visible;
}

.comments-limit-option {
  margin: 5px 10px;
  font-size: small;
}

.comments-sub-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 0 5px;
}

.edit-comment-button {
  margin-right: 5px;
  float: left;
  position: relative;
}

.edit-comment-button .editCommentTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
}

.edit-comment-button:hover .editCommentTooltipText {
  visibility: visible;
}

.delete-comment-button {
  margin-left: 10px;
  position: relative;
}

.delete-comment-button .deleteCommentTooltipText {
  visibility: hidden;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 140px;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
}

.delete-comment-button:hover .deleteCommentTooltipText {
  visibility: visible;
}

.comment-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  overflow: auto;
  padding: 5px;
  position: relative;
  max-width: 900px;
  background: lightgrey;
  animation: flyin 1.2s ease forwards;
}

.comment-typing-box {
  display: flex;
  border-radius: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 13px;
  margin-right: 10px;
  justify-content: center;
  max-width: 900px;
  background: lightgrey;
  border: 1px solid white;
}

/* below are for EditComment, EditReview and PostComment components: */

.post-comment-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-input-box {
  width: 60vw;
  height: 15vh;
}

@media (min-width: 812px) {
  .comment-input-box {
    width: 45vw;
    max-width: 620px;
  }
}

.comment-typing-box-wrapper {
  margin: 20px;
  max-width: 900px;
  animation: phaseIn 1.2s ease;
}

.date-posted {
  font-size: 0.7em;
}
