.category-title {
  font-style: italic;
  margin: 5px;
  color: white;
  text-shadow: 0 0 4px black;
  filter: drop-shadow(3px 5px 1px rgb(0 0 0 / 0.6));
}

.category-description {
  font-style: italic;
  margin: 5px;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.5));
}

.review-item {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 15px;
  margin-top: 10px;
  overflow: auto;
  max-height: 36vh;
  padding: 5px;
  position: relative;
  transition: transform 0.5s;
}

.review-item:hover {
  transform: scale(1.03);
  filter: drop-shadow(1px 2px 1px rgb(0 0 0 / 1));
}

@media (max-height: 510px) {
  .review-item {
    max-height: 60vh;
  }
}

.review-card {
  max-height: 35vh;
  margin: 5px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom, black, black, black, lightgrey);
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px #00000000;
}

.read-more {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: small;
  color: black;
}

.review-title {
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: flex-start;
  max-width: 76vw;
}

.slug-name-in-reviews {
  float: left;
  font-size: smaller;
}

.designer-name-in-reviews {
  float: right;
  font-size: smaller;
}

.author-in-reviews {
  float: left;
  font-size: small;
}

.date-posted-in-reviews {
  float: right;
  font-size: 0.65em;
}

.review-img {
  max-width: 45vw;
  max-height: 20vh;
  overflow: hidden;
}

.image-container-in-reviews {
  float: right;
  max-width: 45vw;
  max-height: 17vh;
  margin: 10px;
  margin-right: 0;
  border-radius: 5px;
  overflow: hidden;
}

.body-text-in-reviews {
  font-size: small;
}

.view-comments-button {
  float: left;
  position: relative;
}

.view-comments-button .commentsTooltipText {
  visibility: hidden;
  width: 120px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 110px;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
}

.view-comments-button:hover .commentsTooltipText {
  visibility: visible;
}

.kudos-button {
  float: right;
  position: relative;
}

.kudos-button .kudosTooltipText {
  visibility: hidden;
  width: 120px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 150px;
  bottom: 100%;
  left: 50%;
  margin-left: -125px;
}

.kudos-button:hover:enabled .kudosTooltipText {
  visibility: visible;
}

.kudos-button .kudosDisabledTooltipText {
  visibility: hidden;
  width: 120px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 200px;
  bottom: 100%;
  left: 50%;
  margin-left: -175px;
}

.kudos-button:hover:disabled .kudosDisabledTooltipText {
  visibility: visible;
}

.page-number-in-reviews {
  float: right;
  margin-right: 15px;
  font-size: smaller;
}

.review-title-link {
  color: white;
  text-shadow: 0 0 3px black, 0 0 3px black;
  text-decoration: none;
}

.review-title-link:hover {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  filter: drop-shadow(3px 5px 1px rgb(0 0 0 / 0.8));
}

.read-more:hover {
  color: white;
  text-shadow: 0 0 4px black, 0 0 5px black;
  font-size: 0.9em;
}

.author-link:hover {
  color: white;
  text-shadow: 0 0 4px black, 0 0 5px black;
  font-size: 1.1em;
}

.review-title-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.watch-toggle {
  align-self: flex-end;
}

.watch-button {
  position: relative;
}

.watched-button {
  position: relative;
  color: white;
  background: darkslateblue;
}

.watched-button .openedEyeTooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 175px;
  bottom: -10%;
  left: 50%;
  margin-left: -190px;
}

.watch-button .closedEyeTooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgb(70, 70, 70);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 160px;
  bottom: -10%;
  left: 50%;
  margin-left: -175px;
}

.watched-button:hover .openedEyeTooltip {
  visibility: visible;
}

.watch-button:hover .closedEyeTooltip {
  visibility: visible;
}
