.category-title {
  font-style: italic;
  margin: 5px;
}

.category-description {
  font-style: italic;
  margin: 5px;
}

.review-item {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 15px;
  overflow: auto;
  max-height: 36vh;
  padding: 5px;
  position: relative;
}

.review-card {
  max-height: 35vh;
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.read-more {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: small;
}

.review-title {
  margin: 0px auto;
}

.slug-name-in-reviews {
  float: left;
  font-size: smaller;
}

.designer-name-in-reviews {
  float: left;
  font-size: smaller;
}

.author-in-reviews {
  float: left;
  font-size: small;
}

.date-posted-in-reviews {
  float: right;
  font-size: 0.65em;
}

.review-img {
  float: right;
  max-width: 45vw;
  max-height: 20vh;
  margin: 10px;
  border-radius: 10px;
}

.body-text-in-reviews {
  font-size: small;
}

.comments-button {
  float: left;
}

.kudos-button {
  float: right;
}
