.sign-up-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: grey;
  max-width: 800px;
  width: 100vw;
  margin: 0 auto;
  align-items: stretch;
  border-radius: 5px;
}

.sign-up-form {
  text-align: center;
  background: lightgrey;
  border-radius: 10px;
  margin: 15px;
  padding: 10px 10px 50px 10px;
  animation: phaseIn 0.5s ease;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
  font-size: x-small;
  font-weight: 600;
  margin: 0px;
  color: purple;
  margin-bottom: 50px;
}

.validation-warning {
  font-size: x-small;
  font-weight: 600;
  margin: 0px auto 10px auto;
  color: purple;
}
